{% load static %}

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="navbar-brand" href="/"> World Class Clinic </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="accounts/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="accounts/login"> Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="accounts/register"> Sign-up </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Book your appointment today</h5>
      <p class="card-text">We are open from 8am to 5pm Monday to Saturday</p>
      <a href="appointment" class="btn btn-primary">Book an appointment</a>
    </div>
  </div>